body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    background-image: url('src/planches.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: none; /* Hide all containers by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainMenu {
    display: flex; /* Display only the main menu by default */
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#buttonContainer {
    display: flex;
    gap: 20px; /* Espacement entre les boutons */
    justify-content: center;
    margin-bottom: 20px; /* Ajustez l'espacement sous le conteneur si nécessaire */
}

#ruinsButton, #sanctuaryButton, #retryButton {
    padding: 15px 30px;
    font-size: 1.5em;
    color: #ffffff;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

#startButton:hover, #retryButton:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

#startButton:active, #retryButton:active {
    background-color: #d84315;
    transform: scale(1);
}

#gameCanvas {
    display: none; /* Hidden by default */
    margin-top: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#commands {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
}

#commands h2 {
    margin-bottom: 10px;
}

#commands ul {
    list-style-type: none;
    padding: 0;
}

#commands li {
    margin: 5px 0;
}

#commands strong {
    display: inline-block;
    width: 200px;
}

#version {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.volume-control {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    align-items: center;
}

.volume-control input {
    width: 100px;
    margin-left: 10px;
}

.score-container {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    display: none;
}

#retryButton {
    display: none;
    margin-top: 40px; /* Increase margin-top for more separation */
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #ff5722;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}
